/* global */
html, body {
    height: 100%;
    overflow: hidden;
}

body {
    opacity: 1;
    transition: 0.5s;
}

    body.fade-out {
        opacity: 0;
        transition: none;
    }

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

/* classes */
.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.gm-style-iw {
    text-align: center;
}

/* ids */

#boxes {
}

    #boxes #closeButton {
        position: absolute;
        top: 20px;
        right: 20px;
    }

    #boxes .window {
        position: fixed;
        display: none;
        z-index: 9999;
    }

    #boxes #introDialog {
        width: 60%;
        height: 80%;
        background: white;
        color: black;
    }

    #boxes #introContent {
        width: 100%;
        height: 100%;
        padding: 20px;
    }

    #boxes #introText {
        width: 80%;
        height: 90%;
        margin: 0 auto;
        margin-top: 40px;
    }

    #boxes #introTag {
        cursor: default;
        user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
    }

    #boxes #introInstructions {
        width: 100%;
        height: 75%;
        cursor: default;
        overflow-y: auto;
        word-wrap: break-word;
        user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
    }

    #boxes #storyDialog {
        width: 70%;
        height: 80%;
        background: white;
        color: black;
    }

    #boxes #storyContent {
        width: 100%;
        height: 100%;
        padding: 20px;
    }

    #boxes #storyTag {
        position: absolute;
        cursor: default;
        left: 18px;
        top: 18px;
        user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
    }

    #boxes #storyText {
        width: 90%;
        height: 90%;
        border: 1px;
        margin: 0 auto;
        margin-top: 40px;
    }

    #boxes #storySect1 {
        width: 100%;
        height: 20%;
        margin: 0 auto;
        position: relative;
        text-align: center;
    }

    #boxes #storySect2 {
        width: 40%;
        height: 70%;
        float: left;
        position: relative;
    }

    #boxes #storySect3 {
        width: 60%;
        height: 70%;
        float: right;
        position: relative;
    }

    #boxes #storySect4 {
        width: 100%;
        height: 10%;
        clear: both;
        position: relative;
    }

    #boxes #storyTitle {
        width: 100%;
        height: 75%;
        border: none;
        border-bottom: solid 2px #c9c9c9;
        font-size: 32px;
        outline: none;
        padding: 10px;
        transition: border 0.3s;
    }

        #boxes #storyTitle:focus {
            border-bottom: solid 2px #969696;
        }

        #boxes #storyTitle::selection {
            background: lightblue;
        }

    #boxes #storyMap {
        width: 100%;
        height: 100%;
        position: absolute;
    }

    #boxes #storyDescription {
        width: 100%;
        height: 100%;
        border: solid 5px #c9c9c9;
        font-size: 20px;
        padding: 10px;
        position: absolute;
        resize: none;
        transition: border 0.3s;
    }

        #boxes #storyDescription:focus {
            border: solid 5px #969696;
        }

        #boxes #storyDescription::selection {
            background: lightblue;
        }

    #boxes #storyDate {
        width: 60%;
        height: 75%;
        bottom: 0;
        float: left;
        font-size: 14px;
        position: absolute;
    }

    #boxes #storyTime {
        width: 100%;
        border-bottom: solid 2px #c9c9c9;
        bottom: 0;
        cursor: default;
        font-size: 18px;
        position: absolute;
        user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
    }

    #boxes #storyNext {
        width: 40%;
        height: 100%;
        bottom: 0;
        border-bottom: solid 2px #c9c9c9;
        float: right;
        position: absolute;
        right: 0;
    }

    #boxes #storyPublish {
        background: white;
        border: none;
        bottom: 0;
        color: black;
        cursor: pointer;
        font-size: 24px;
        position: absolute;
        right: 0;
        transition: all 0.5s;
    }

        #boxes #storyPublish span {
            cursor: pointer;
            display: inline-block;
            position: relative;
            transition: 0.5s;
        }

            #boxes #storyPublish span:after {
                content: '»';
                position: absolute;
                opacity: 0;
                top: 0;
                right: -20px;
                transition: 0.5s;
            }

        #boxes #storyPublish:hover span {
            padding-right: 25px;
        }

            #boxes #storyPublish:hover span:after {
                opacity: 1;
                right: 0;
            }

        #boxes #storyPublish:focus {
            outline: none;
        }


#content {
    position: absolute;
    margin-top: 51px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#container {
    height: 100%;
}

#googleMaps {
    height: 100%;
}

#mask {
    position: absolute;
    z-index: 9000;
    background-color: #000;
    display: none;
}

#openButton {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    background: white;
    border: 0;
    color: black;
    font-size: 24px;
    margin-top: 4px;
    text-decoration: none;
}

    #openButton:hover {
        color: red;
    }

    #openButton:active {
        color: darkred;
    }

    #openButton:focus {
        outline: none;
    }

#searchBox {
    background-color: #fff;
    color: black;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-top: 12px;
    margin-right: 10px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 25%;
}

    #searchBox:focus {
        border-color: #4d90fe;
    }

    #searchBox::selection {
        background: lightblue;
    }

#target {
    width: 345px;
}
