/* global */
html, body {
    height: 100%;
    overflow: hidden;
}

body {
    opacity: 1;
    transition: 0.5s;
}

    body.fade-out {
        opacity: 0;
        transition: none;
    }

/* classes */
.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.gm-style-iw {
    text-align: center;
}

/* ids */
#content {
    position: absolute;
    margin-top: 51px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#container {
    height: 100%;
}

#openButton {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    background: white;
    border: 0;
    color: black;
    font-size: 24px;
    margin-top: 4px;
    text-decoration: none;
}

    #openButton:hover {
        color: red;
    }

    #openButton:active {
        color: darkred;
    }

    #openButton:focus {
        outline: none;
    }

#searchBox {
    background-color: #fff;
    color: black;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-top: 12px;
    margin-right: 10px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 25%;
}

    #searchBox:focus {
        border-color: #4d90fe;
    }

    #searchBox::selection {
        background: lightblue;
    }

#target {
    width: 345px;
}